/* adding font to the site */
* {
  font-family: 'Josefin Sans', sans-serif;
}

/* body styling*/
body {
  background-image: url("./base-apparel-coming-soon-master/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.logo-container {
  width: 160px;
  height: 3rem;
  margin-top: 66px;
  margin-left: 13px;
}

/* draw the circle of the logo */
span.logo-circle {
  position: absolute;
  border-radius: 50%;
  background: rgb(246, 171, 178);
  background: linear-gradient(171deg, rgba(246, 171, 178, 1) 16%, rgba(241, 151, 150, 1) 67%);
  width: 31px;
  height: 31px;

}

span.logo-circle::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 81%;
  height: 80%;
  border-radius: 50%;
  left: 3px;
  top: 3px;
}

/* logo text styling */
div.logo {
  position: relative;
}

div.logo-container p {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 6px;
  font-size: 18px;
  line-height: 18px;
  color: #443b3c;
  position: absolute;
  top: 0px;
  left: 42px;

}

/* styling image  */
.image-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}

.image-container img {
  height: 100%;
}

/* styling information section */
.information-container {
  margin-left: 13px;
  margin-top: 140px;
}

h1 span:nth-of-type(1) {
  width: 266px;
  display: inline-block;
  font-size: 74px;
  letter-spacing: 14.5px;
  text-transform: uppercase;
  font-weight: 300;
  color: #ca979c;
}

h1 span:nth-of-type(2),
h1 span:nth-of-type(3) {
  font-weight: 600;
  display: inline-block;
  font-size: 4.3rem;
  text-transform: uppercase;
  color: #433a3b;
  letter-spacing: 13px;
}

.information-container p {
  width: 439px;
  color: #d9b6ba;
  line-height: 34px;
}
/* styling form */
form{
  position: relative;
  width: 448px;
  margin-top: 26px;
}
input:nth-of-type(1) {
  width: 447px;
  background: none;
  border: 1px solid #eea2a4;
  height: 56px;
  border-radius: 5rem;
  padding-left: 35px;
}
input:nth-of-type(1)::placeholder{
  color: #eea2a4  ;
}


.submit{
  position: absolute;
  left: 78%;
  top: 1px;
  width: 100px;
  height: 100%;
  border-radius: 2rem;
  border: none;
  background: rgb(246, 171, 178);
  background: linear-gradient(171deg, rgba(246, 171, 178, 1) 16%, rgba(241, 151, 150, 1) 67%);
  color: white;
}

input{
  outline: none;
}
